1 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "MAINICON.ICO"
2 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "CURSOR.BMP"
3 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "start.BMP"
4 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "sniper.BMP"