1 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "RES\MAINICON.ICO"
2 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\CURSOR.BMP"
3 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\START.BMP"
4 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\SNIPER.BMP"
5 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\CHOOSEMODE.BMP"
6 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\MASK1.BMP"
7 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\MASK2.BMP"