1 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "RES\MAINICON.ICO"
2 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\CURSOR.BMP"
3 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\START.BMP"
4 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\SNIPER.BMP"
5 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\CHOOSEMODE.BMP"
6 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\MASK1.BMP"
7 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\MASK2.BMP"
8 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\BTN_1.BMP"
9 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\BTN_2.BMP"
10 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\BTN_3.BMP"
11 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\STORY1.BMP"
12 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\STORY2.BMP"
13 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\STORY3.BMP"
14 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\STAGE1.BMP"
15 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\STAGE2.BMP"
16 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\STAGE3.BMP"
17 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\CONTINUE.BMP"
18 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\FAILED.BMP"
19 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "RES\COMPLETE.BMP"